:root {
  --color-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-neutral-dak-blue: hsl(212, 21%, 14%);
  ---color-neutral-glyph-blue: hsl(228, 12%, 48%);
}
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Add to Cart Button  */
.add-to-cart {
  border-width: 0;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  background-color: var(--color-primary-dark-cyan);
  padding: 2rem 4rem;
  width: 100%;
  border-radius: 1rem;
  opacity: 0.8;
}

.cart-icon {
  margin-right: 1rem;
}

/* Price Tag */
.price-tag {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
}

.new-price {
  font-family: Fraunces, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary-dark-cyan);
}

.old-price {
  color: var(--color-neutral-dak-blue);
  font-size: 1.5rem;
  opacity: 0.7;
  text-decoration: line-through;
}
