:root {
  --color-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-neutral-dak-blue: hsl(212, 21%, 14%);
  ---color-neutral-glyph-blue: hsl(228, 12%, 48%);
}
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Add to Cart Button  */
.add-to-cart {
  border-width: 0;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  background-color: var(--color-primary-dark-cyan);
  padding: 1.5rem 0 1.5rem 0;
  width: 100%;
  border-radius: 1rem;
}

.cart-icon {
  margin-right: 1rem;
}
/* /////////////////// */

/* Price Tag */
.price-tag {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
  margin: 2.5rem 0 1rem 0;
}

.new-price {
  font-family: Fraunces, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary-dark-cyan);
  margin: 0;
}

.old-price {
  color: var(--color-neutral-dak-blue);
  font-size: 1.5rem;
  opacity: 0.7;
  text-decoration: line-through;
  margin: 0rem;
}
/* //////////////////////////// */

/* Supporting Copy */
.supporting-copy {
  color: var(--color-neutral-dak-blue);
  font-size: 1.5rem;
  opacity: 0.8;
  /* max-width: 40ch; */
  text-align: left;
  display: inline-block;
  width: 100%;
  margin: 0;
  line-height: 1.5;
}
/* ////////////////////////////////// */

/* Header */
.header {
  font-family: Fraunces, Arial, Helvetica, sans-serif;
  color: var(--color-neutral-dak-blue);
  font-size: 3rem;
  /* max-width: 14ch; */
  text-align: left;
  display: inline-block;
  line-height: 100%;
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 10ch;
  }
}
/* ///////////////////////////////////// */

/* Perfuem Label */
.perfume-lable {
  text-transform: uppercase;
  letter-spacing: 1ch;
  font-size: 1rem;
  color: var(--color-neutral-dak-blue);
  opacity: 0.8;
  text-align: left;
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* ///////////////////// */

/* Hero Image */
.hero-img {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}
/* ///////////////////////////// */

/* Hero Content  */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* Product Preivew Card  */
